@font-face {
    font-family: Cormorant;
    src: url(../../Cormorant/Cormorant-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Raleway;
    src: url(../../Raleway/Raleway-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url(../../Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
}
:root{
    --color1 : #FFFFFF;
    --color2 : #2B2A2A;
    --color3 : #5A5A5A;
    --color4 : #000000;
    --headColor : #700000;
    --red0 : #efefef;
    --red1 : #FFEBEB;
    --red2 : #FFD5D5;
    --red3 : #FFC0C0;
    --red4 : #FEAAAA;
    --red5 : #FFA2A2;
    --red6 : #FE9595;
    --red7 : #FE7F7F;
    --red8 : #E26666;
    --red9 : #C54C4C;
    --red10 : #A93333;
    --red11 : #A93333;
    --red12 : #700000;
}
body,html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font: 300 33px/40px Montserrat;
}
.texty{
    position: fixed;
    top:0;
    left: 0;
    font-size: 3vh;
    font-weight: 500;
    animation: aniTr 2s infinite forwards;
    color: #000;   
}
@keyframes aniTr {
    0% {transform: rotate(0);opacity: 0.1;}
    100% {transform: rotate(360deg);opacity: 1;}
}
.mainBody{
    height: 1000px;
    width: 800px;
    position: relative;
    margin: auto;
    overflow: hidden;
    background: transparent;
    transform: scale(calc(981/1000));
    transform-origin: top;
}
.mainBody.mainBody-8-9{
    height: 900px;
    transform: scale(1);
}
.bgContent{
    position: absolute;
    /* top: 327px; */
    left: -1.719970703125px;
    width: 804px;
    height: 100%;
    background: transparent url('../../Design/Rectangle2.png') 0% 0% no-repeat padding-box;
    opacity: 0.32;
    z-index: -1;
}
.bgContent.bgFull{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header{
    top: 0px;
    left: 0px;
    width: 800px;
    height: 233px;
    background: #2B2A2A 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}
.header.header200{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}
.header.header200>.logo{
    top: 26px;
    left: 331px;
    width: 140px;
    height: 64px;
    opacity: 1;
}
.header.header200>.headline{
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 68px;
    text-align: center;
    font: 400 56px/68px Cormorant;
    letter-spacing: -0.56px;
    color: #FF6E6E;
    text-transform: uppercase;
    opacity: 1;
}
.header.header200>.strap{
    top: 152px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 40px;
    text-align: center;
    font: 700 33px/40px Montserrat;
    letter-spacing: -0.33px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 42px;
    left: 330px;
    width: 140px;
    height: 64px;
    opacity: 1;
    
}
.logo img{
    max-width: 100%;
}
.headline{
    position: absolute;
    top: 112px;
    left: 89px;
    width: 631px;
    height: 68px;
    text-align: center;
    font: 400 56px/68px Cormorant;
    letter-spacing: -0.6px;
    color: #FF6E6E;
    text-transform: uppercase;
    opacity: 1;
}
.trendline .headline{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 135px;
}
.strap{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    text-align: center;
    font: 700 33px/40px Montserrat;
    letter-spacing: -0.33px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
.strap.strapCap{
    top: 180px;
    left: -1.5px;
    width: 802px;
    height: 40px;
    text-align: center;
    font: 700 30px/37px Montserrat;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    opacity: 1;
    text-transform: none;
    left: 50%;
    transform: translateX(-50%);
}
.legend1{
    margin-top: 9px;
    left: -0.5px;
    width: 801px;
    height: 30px;
    text-align: center;
    font: 700 20px/24px Montserrat;
    letter-spacing: 2px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
    border-bottom: 1px solid #5A5A5A44;
}
.legend1.legend1Big{
    margin-top: 0px;
    width: 800px;
    height: 64px;
    text-align: center;
    font: 300 52px/63px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.legend2{
    display: flex;
    margin-top: 10px;
}
.legend2 div{
    width: 73px;
    height: 24px;
    text-align: center;
    font: 500 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    opacity: 1;
    position: relative;
}
.legend2 div::after{
    content: '';
    position: absolute;
    top: 27px;
    left: 0px;
    width: 100%;
    height: 14px;
    background: #FFEBEB 0% 0% no-repeat padding-box;
    border: 1px solid #FFA2A2;
    opacity: 1;
}
.legend2 div:nth-child(1)::after{background :var(--red1)}
.legend2 div:nth-child(2)::after{background :var(--red2)}
.legend2 div:nth-child(3)::after{background :var(--red3)}
.legend2 div:nth-child(4)::after{background :var(--red4)}
.legend2 div:nth-child(5)::after{background :var(--red5)}
.legend2 div:nth-child(6)::after{background :var(--red6)}
.legend2 div:nth-child(7)::after{background :var(--red7)}
.legend2 div:nth-child(8)::after{background :var(--red8)}
.legend2 div:nth-child(9)::after{background :var(--red9)}
.legend2 div:nth-child(10)::after{background :var(--red10)}
.legend2 div:nth-child(11)::after{background :var(--red11)}
.legend2 div:nth-child(12)::after{background :var(--red12)}

.svgContainer{
    position: absolute;
    top: 369px;
    left: 58px;
    width: 554px;
    height: 609px;
    opacity: 1;
}
.svgContainer svg{
    width: 134%;
    transform: translate(-93px, -207px);
}
.svgContainer.right{
    left: unset;
    right: 0;
    width: 352px;
    height: 387px;
}
.svgContainer.right svg{
    width: 135%;
    transform: translate(-60px, -134px);
}
.svgContainer.right svg path{
    fill: 1px solid #FFA2A2;
}
.stateName{
    position: absolute;
    top: 364px;
    left: 381px;
    width: 420px;
    height: 30px;
    text-align: center;
    font: 700 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.statContainer{
    position: absolute;
    top: 401px;
    left: 381px;
    width: 419px;
    height: 68px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    border: 1px solid #5A5A5A77;
}
/* .stateName{
    left: 0;
}
.statContainer{
    left: 0;
} */
.statContainer>div{
    flex-grow: 1;
    padding: 7px 0;
}
.statContainer>div:nth-child(2){
    border-left: 1px solid #5A5A5A77;;
    border-right: 1px solid #5A5A5A77;;
}
.nameLabel{
    height: 19px;
    display: block;
    text-align: center;
    font: 600 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.data{
    height: 34px;
    text-align: center;
    margin: 0;
    font: 700 28px/34px Montserrat;
    letter-spacing: -0.28px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
footer{
    position: absolute;
    right: 30px;
    bottom: 50px;
    width: 128px;
    text-align: left;
    font: 600 15px/18px Raleway;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
footer.casesWithNote{
    bottom: 25px;
}
footer.casesWithNote.stateInfo{
    bottom: 0;
}
footer.casesWithNote.countryBars{
    display: flex;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    align-items: flex-end;
}
footer.casesWithNote.countryBars img{
    margin: unset;
}
footer.casesWithNote.countryBars p b{
    color: #000;
}
footer.casesWithNote img{
    margin: 5px 15px 25px;
}
footer.casesWithNote.stateInfo img{
    margin: 5px auto 25px 0;
}
footer.casesWithNote p:nth-child(4){
    width: max-content;
    transform: translateX(-113px);
}
footer.casesWithNote p:nth-child(3){
    width: max-content;
    transform: translateX(-80px);
    text-align: right;
}

footer.casesWithNote.stateInfo p:nth-child(3){
    width: max-content;
    transform: translateX(-80px);
    text-align: right;
    position: absolute;
    left: -542px;
    top: 52px;
}
footer.horizontal{
    display: flex;
    width: auto;
    right: 40px;
}
footer.horizontal>p{
    margin: auto 10px 0 0;
}
footer img{
    width: 113px;
    height: 45px;
}
.end{
    position: absolute;
    bottom: 0;
    height: 6px;
    background: rgba(43, 42, 42, 1);
    width: 100%;
}
#canvas{
    position: absolute;
    top: 304px;
    left: 0;
    width: 700px;
    height: 560px;
    opacity: 1;
    z-index: 100;
}
#canvas::before{
    content: 'sfjsbdfk';
    z-index: 1;
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 685px;
    background:#707070;
    
}
#canvas::after{
    content: 'sfjsbdfk';
    z-index: 1;
    display: block;
    position: absolute;
    height: 1px;
    width: 658px;
    bottom: 2px;
    left: 0;
    background:#707070;
    
}
#canvas.stateInfo{
    top: 436px;
    width: 400px;
    left: 20px;
    /* opacity: 0.4; */
}
#canvas.countryBar{
    top: 300px;
    width: 800px;
    height: 450px;
}
.stateName.canvasWith{
    left: 50px;
    top: 298px;
}
.statContainer.canvasWith{
    width: 357px;
    height: 94px;
    left: 50px;
    top: 335px;
}

.stateName.left{
    left: 0;
    top: 305px;
}
.statContainer.left{
    left: 0;
    top: 342px;
}
p.dataLine{
    width: 80%;
    height: 5px;
    margin-top: 2px;
    border-radius: 2px;
    margin: 5px auto 0;
}
p.dataLine.blue{
    background-color: #55ABEA;
}
p.dataLine.red{
    background-color: #E26666;
}
.legendDataBlock .nameLabel{
    height: 22px;
    text-align: center;
    font: 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 8px;
}
.legendVertical{
    position: absolute;
    bottom: 316px;
    right: 0px;
    width: max-content;
    height: 62px;
    transform: translate(37%,-100%) rotate(-90deg);
    text-align: center;
    font: 500 18px/22px Montserrat;
    letter-spacing: 1.8px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.canvasLabels{
    z-index: 1;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 436px;
    left: 20px;
    z-index: 101;
}
.actPercP{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    text-align: left;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
    font: 600 15px/19px Montserrat;
}
.actPerc{
    font: 600 26px/19px Montserrat;
}
.newCaseP{
    position: absolute;
    top: 96px;
    text-align: left;
    font: 600 49px/59px Montserrat;
    letter-spacing: 0px;
    color: #FF6E6E;
    text-transform: uppercase;
    opacity: 1;
}
.newCaseP2{
    position: absolute;
    top: 155px;
    text-align: left;
    font: 600 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.recovP{
    position: absolute;
    top: 300px;
    text-align: left;
    font: 900 15px/23px Montserrat;
    letter-spacing: 0px;
    color: #FF6E6E;
    text-transform: uppercase;
}
.deathP{
    position: absolute;
    top: 350px;
    text-align: left;
    font: 900 15px/23px Montserrat;
    letter-spacing: 0px;
    color: #700000;
    text-transform: uppercase;
}
.recovP span,.deathP span{
    text-align: left;
    font: 600 19px/23px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
}
.legend2.prominent{
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 21px;
    color: #5A5A5A;
}
#canvas.countryBar.worstStates{
    top: 350px
}

/* =============================================mainBodyMap =========================== */
.mainBodyMap{
    width: 800px;
    height: 900px;
    transform: scale(1);
}
.mainBodyMap .header{
    width: 100%;
}
.mainBodyMap .headline,.mainBodyMap .strap{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.mainBodyMap .stateName.canvasWith {
    left: 50%;
    transform: translateX(-50%);
    top: -44px;
}
.mainBodyMap .statContainer.canvasWith{
    width: 500px;
    height: 115px;
    left: 0;
    top: 284px;
    padding-bottom: 20px;
}
.mainBodyMap div#regions_div {
    top: 100px;
    position: absolute;
    top: 420px;
    width: 550px;
    height: 270px;
    left: -25px;
}
.mainBodyMap div#regions_div path{
    stroke: #efefef;
    stroke-width: 0.5px;
}
.mainBodyMap .statContainer>div:nth-child(3){
    border-left: 1px solid #5A5A5A55;
    border-right: 1px solid #5A5A5A55;
}
.mainBodyMap .statContainer>div:nth-child(2){
    border-left:none;
    border-right:none;
}
.mainBodyMap #canvas{
    position: static;
    display: block;
    margin: 100px auto 0;
    transform: translateX(0%);
    border-right: 1px solid #DBD9D9;
    border-bottom: 1px solid #DBD9D9;
}
.mainBodyMap #canvas .before{
    content: "JAN 22";
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mainBodyMap #canvas .after{
    content: "JUN 29";
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.liner{
    width: 100%;
    padding: 0 25px;
    font: 600 15px/19px Montserrat;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #5a5a5a;
}
.mainBodyMap footer.horizontal{
    width: 100%;
    right: 0;
    padding: 10px 25px;
    bottom: 5px;
    justify-content: space-between;
}
.mainBodyMap p.dataLine.red{background-color: #8C1919;}
.mainBodyMap p.dataLine.lred{background-color: #F86E6E;background-color: #198C19;}
.mainBodyMap p.dataLine.black{background-color: #525252;}

.statContainer>div.gradient {
    position: absolute;
    height: 20px;
    bottom: 0;
    width: 600px;
    padding: 0;
    background: linear-gradient(to right,
    rgb(255, 235, 235) 0 50px,
    rgb(255, 213, 213) 50px 100px,
    rgb(255, 192, 192) 100px 150px,
    rgb(254, 170, 170) 150px 200px,
    rgb(254, 149, 149) 200px 250px,
    rgb(255, 162, 162) 250px 300px,
    rgb(254, 127, 127) 300px 350px,
    rgb(226, 102, 102) 350px 400px,
    rgb(197, 76, 76) 400px 450px,
    rgb(169, 51, 51) 450px 500px,
    rgb(140, 25, 25) 500px 550px,
    rgb(112, 0, 0) 550px 600px
    );
    transform: scaleX( calc( 500 / 601));
    transform-origin: left;
}
.statContainer>div.gradient::before{
    content: 'LOW';
    position: absolute;
    left: 10px;
    height: 100%;
    width: max-content;
    color: #5A5A5A;
    text-transform: uppercase;
    font: 700 12px/22px Montserrat;
}
.statContainer>div.gradient::after{
    content: 'HIGH';
    position: absolute;
    right: 10px;
    height: 100%;
    width: max-content;
    color: #efefef;
    text-transform: uppercase;
    font: 700 12px/22px Montserrat;
}
.mainBodyMap .legendDataBlock .nameLabel{
    font: 600 15px/19px Montserrat;
}
.mainBodyMap .legendDataBloc{
    flex-basis: 33.3333%;
}

/* ============================================= state circles =========================== */
.stateCircle  #canvas,.stateCircle .svgContainer{
    position: absolute;
    top: 318px;
    left: 89px;
    width: 543px;
    height: 597px;;
    opacity: 1;
}
.stateCircle .statContainer{
    top: 312px;
    left: 393px;
    width: 343px;
    height: 99px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.30000001192092896px solid #5A5A5A;
    opacity: 1;
    display: block;
}
.stateCircle .stateName{
    text-align: center;
    font: 400 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    position: static;
    width: 100%;
}
.stateCircle .data{
    text-align: center;
    font: 700 50px/61px Montserrat;
    letter-spacing: -0.5px;
    color: #5A5A5A;
    text-transform: uppercase;
}
.stateCircle footer.casesWithNote{
    width: 100%;
    right: 0;
    padding: 0 25px;
    text-align: right;
    bottom: 0;
}
.stateCircle footer.casesWithNote p:nth-child(3){
    position: absolute;
    transform: translateX(0);
    bottom: 25px;

}
.stateCircle .statContainer>div:nth-child(2){
    border: none;   
}



/* ============================================= district map =========================== */
.mapContainerBox{
    position: relative;
    width: 700px;
    height: 600px;
    margin: auto;
}
.cityCircle div#places_div,.cityCircle div#regions_div{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
    z-index: 0;
}
.cityCircle div#regions_div{
    z-index: 1;
}
.cityCircle circle{
    opacity: 0.8;
    stroke: #E26666;
    fill: #FEAAAACC;
}
.cityCircle footer.casesWithNote{
    bottom: 30px;
}

.dailyCasesBar footer.horizontal{
    width: 100%;
    right: 0;
    padding: 0 40px;
    justify-content: space-between;
}
.dailyCasesBar .stateName.canvasWith{
    width: 200px;
}
.dailyCasesBar .statContainer.canvasWith{
    width: 200px;
}
p.dataLine.red.deth{
    background-color: #a01e1e;
}
.dailyCasesBar .showAfter{
    font: 500 18px/22px Montserrat;
    letter-spacing: 0.8px;
    color: #5A5A5A;
    position: absolute;
    bottom: -20px;
    transform: translate(-50%,100%);
    text-align: center;
    width: max-content;
    left: 50%;
    opacity: 0;
    transition: opacity 400ms ease;
}
.dailyCasesBar .showAfter.active{
    opacity: 1;
}
.dailyCasesBar .showAfter span{
    display: block;
    font: 700 25px/30px Montserrat;
}
.dailyCasesBar .headline{
    left: 50%;
    width: 100%;
    top: 132px;
    transform: translateX(-50%);
}
.dailyCasesBar .liner{
    bottom: 112px;
    position: absolute;
    padding: 0 147px 0 0;
}
.mainBodyIndiaLabel.mainBodyMap .statContainer.canvasWith{
    padding-bottom: 0;
}

.mainBodyIndiaLabel .legendVertical{
    right: -40px;
}
.mainBodyIndiaLabel.mainBodyMap #canvas{
    border: none;
} 
.mainBodyIndiaLabel.mainBodyMap .liner{
    padding: 5px 93px 0 25px;
}
.infoBox{
    position: absolute;
    top: 398px;
    left: 0px;
    height: 0px;
    opacity: 0;
    width: 500px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
    transition: all 250ms ease;
}
.infoBox.active{
    height: 40px;
    opacity: 1;
}
.infoBox .inner{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    transition: all 400ms ease;
}
.infoBox .inner p{
    color: #707070;
    height: 40px;
    font: 600 19px/40px Montserrat;
    text-align: center;
    
}
.infoBox .inner p span{
    color: #5A5A5A;
    font: 700 25px/40px Montserrat;
}

/* ============================================= trend bar =========================== */

.trendBar .headline{
    top: 125px;
    font: 400 56px/50px Cormorant;
}
.trendBar .strap{
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    
}

.trendBar .canvasWith.statContainer,.trendBar .stateName{
    width: 500px;
}
.strap2line.trendBar .strap{
    font: 700 28px/35px Montserrat;
}
.strap2line.trendBar .header{
    height: 268px;
}
.strap2line .statContainer.canvasWith{
    top: 365px;
}
.strap2line .stateName.canvasWith{
    top: 330px;
}
.strap2line #canvas{
    top: 345px;
}
.strap2line footer.horizontal{
    bottom: 20px;
}
.trendBar .legendDataBlock.confirmed{
    width: 165px;
}
.trendBar .legendDataBlock.recovered{
    width: 182px;
}
.trendBar .legendDataBlock.death{
    width: 140px;
}
p.dataLine.black{
    background-color: #525252;
}
