@font-face {
	font-family: Cormorant;
	src: url(/Cormorant/Cormorant-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Cormorant_Infant;
	src: url(/Cormorant_Infant/CormorantInfant-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Cormorant;
	src: url(/Cormorant/Cormorant-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Raleway;
	src: url(/Raleway/Raleway-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(/Raleway/Raleway-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(/Raleway/Raleway-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(/Raleway/Raleway-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Raleway;
	src: url(/Raleway/Raleway-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Thin.ttf);
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-ExtraLight.ttf);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Light.ttf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-SemiBold.ttf);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-ExtraBold.ttf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url(/Montserrat/Montserrat-Black.ttf);
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Myriad-Pro;
	src: url(/myriad-pro/MYRIADPRO-BOLD.OTF);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Myriad-Pro;
	src: url(/myriad-pro/MYRIADPRO-REGULAR.OTF);
	font-weight: 400;
	font-style: normal;
}
:root{
	--color1 : #FFFFFF;
	--color2 : #2B2A2A;
	--color3 : #5A5A5A;
	--color4 : #000000;
	--headColor : #700000;
	--red0 : #efefef;
	--red1 : #FFEBEB;
	--red2 : #FFD5D5;
	--red3 : #FFC0C0;
	--red4 : #FEAAAA;
	--red5 : #FFA2A2;
	--red6 : #FE9595;
	--red7 : #FE7F7F;
	--red8 : #E26666;
	--red9 : #C54C4C;
	--red10 : #A93333;
	--red11 : #A93333;
    --red12 : #700000;
    --cubeWid: 30px;
    --cubeWidHalf: calc(30px / 2);
}
body,html,*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin-block-start: 0;
	margin-block-end: 0;
}
body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font: 300 33px/40px Montserrat;
}
.texty{
	position: fixed;
	top:0;
	left: 0;
	font-size: 3vh;
	font-weight: 500;
	animation: aniTr 2s infinite forwards;
	color: #000; 
	font: 500 33px/40px Montserrat;
}
@keyframes aniTr {
	0% {transform: rotate(0);opacity: 0.1;}
	100% {transform: rotate(360deg);opacity: 1;}
}
.mainBody{
	height: 1000px;
	width: 800px;
	position: relative;
	margin: auto;
	overflow: hidden;
	background: transparent;
	transform: scale(calc(981/1000));
	transform-origin: top;
	display: flex;
	flex-direction: column;
}
.mainBody.mainBody-8-9{
	height: 900px;
	transform: scale(1);
}
.bgContent{
	position: absolute;
	/* top: 327px; */
	left: -1.719970703125px;
	width: 804px;
	height: 100%;
	background: transparent url('../../Design/Rectangle2.png') 0% 0% no-repeat padding-box;
	opacity: 0.32;
	z-index: -1;
}
.bgContent.bgFull{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header{
	top: 0px;
	left: 0px;
	width: 800px;
	height: auto;
	background: #454545 0% 0% no-repeat padding-box;
	opacity: 1;
	position: relative;
}
.header.header200{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	justify-items: center;
	text-align: center;
}
.header.white{
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.header.header200>.logo{
	top: 26px;
	left: 331px;
	width: 140px;
	height: 64px;
	opacity: 1;
}

.header.header200>.headline{
	top: 87px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 68px;
	text-align: center;
	font: 400 56px/68px Cormorant;
	letter-spacing: -0.56px;
	color: #FF6E6E;
	text-transform: uppercase;
	opacity: 1;
}

.header.header200>.strap{
	top: 152px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 40px;
	text-align: center;
	font: 700 33px/40px Montserrat;
	letter-spacing: -0.33px;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
}

.logo{
	position: absolute;
	top: 42px;
	left: 330px;
	width: 140px;
	height: 64px;
	opacity: 1;
	
}
.logo img{
	max-width: 100%;
}
.log{
	position: relative;
}
.logo.logoBihar {
    pointer-events: none;
    position: absolute;
    transform-origin: left;
    left: 0;
    top: 0;
    transform: translate(0%, -50%);
    height: 91px;
    width: auto;
}
.headline{
	position: static;
	height: auto;
	text-align: center;
	font: 400 38px/56px Cormorant;
	letter-spacing: -0.6px;
	color: #FF6E6E;
	text-transform: uppercase;
	opacity: 1;
}
.strap{
	position: absolute;
	top: 180px;
	left: 50%;
	transform: translateX(-50%);
	height: 40px;
	text-align: center;
	font: 700 33px/40px Montserrat;
	letter-spacing: -0.33px;
	color: #FFFFFF;
	text-transform: uppercase;
	opacity: 1;
}
.strap.strapCap{
	top: 180px;
	left: -1.5px;
	width: 802px;
	height: 40px;
	text-align: center;
	font: Bold 30px/37px Montserrat;
	letter-spacing: -0.3px;
	color: #FFFFFF;
	opacity: 1;
	text-transform: none;
}
.legend1{
	margin-top: 9px;
	left: -0.5px;
	width: 801px;
	height: 30px;
	text-align: center;
	font: Bold 20px/24px Montserrat;
	letter-spacing: 2px;
	color: #5A5A5A;
	text-transform: uppercase;
	opacity: 1;
	border-bottom: 1px solid #5A5A5A44;
}
.legend1.legend1Big{
	margin-top: 0px;
	width: 800px;
	height: 64px;
	text-align: center;
	font: 300 52px/63px Montserrat;
	letter-spacing: 0px;
	color: #5A5A5A;
	text-transform: uppercase;
	opacity: 1;
}
.legend2{
	display: flex;
	margin-top: 10px;
}
.inner {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px;
    align-items: center;
}
footer{
	position: absolute;
	right: 30px;
	bottom: 50px;
	width: 128px;
	text-align: left;
	font: 600 15px/18px Raleway;
	letter-spacing: 0px;
	color: #5A5A5A;
	text-transform: uppercase;
	opacity: 1;
}
footer.casesWithNote{
	bottom: 25px;
}
footer.casesWithNote.stateInfo{
	bottom: 0;
}
footer.casesWithNote.countryBars{
	display: flex;
	left: 0;
	width: 100%;
	justify-content: space-between;
	padding: 0 20px;
	align-items: flex-end;
}
footer.casesWithNote.countryBars img{
	margin: unset;
}
.bihar2020Trendline footer.casesWithNote.countryBars{
	justify-content: flex-end;
}
footer.casesWithNote img{
	margin: 5px 15px 25px;
}
footer.casesWithNote.stateInfo img{
	margin: 5px auto 25px 0;
}
footer.casesWithNote p:nth-child(4){
	width: max-content;
	transform: translateX(-113px);
}
footer.casesWithNote p:nth-child(3){
	width: max-content;
	transform: translateX(-80px);
	text-align: right;
}

footer.casesWithNote.stateInfo p:nth-child(3){
	width: max-content;
	transform: translateX(-80px);
	text-align: right;
	position: absolute;
	left: -542px;
	top: 52px;
}
footer.horizontal{
	display: flex;
	width: auto;
	right: 40px;
}
footer.horizontal>p{
	margin: unset;
	width: 309px;
}
footer img{
	width: 113px;
	height: 45px;
}
.end{
	position: absolute;
	bottom: 0;
	height: 6px;
	background: rgba(43, 42, 42, 1);
	width: 100%;
}

.mainContent {
    flex-grow: 1;
    padding-bottom: 100px;
    display: flex;
    padding: 25px 25px 125px;
    justify-content: space-evenly;
    align-items: flex-end;
}
.bihar2020Trendline .mainContent{
	padding: 25px 25px 90px;
}
.eachParty {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.eachParty h3{
	font: 500 20px/24px Montserrat;
    color: #555;
    padding: 10px 0;
}
.dataFix {
    width: 73%;
    background: #F00;
	height: 0;
	transition: all 400ms ease-in-out;
	position: relative;
}
.bihar2020Leads .dataFix{
	transition: all 1.5s ease-in-out;
}
.dataFix::after {
	content: attr(datatxt);
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	font: 700 28px/34px Montserrat;
	color: #777777;
}
.dataFix.BJP{
	background: #E36624;	
}
.dataFix.INC{background: #E72726;}
.dataFix.JDU{background: #F6D838;}
.dataFix.RJD{background: #26733B;}
.dataFix.MGB{background: #31B900;}
.dataFix.NDA{background: #FF9800;}
.dataFix.LJP{background: #B1C2A7;}
.dataFix.OTH{background: #AAAAAA;}
object.logoParty {
    width: 50%;
}
.bihar2020 .strap{
	position: static;
    transform: none;
    text-align: right;
}
.bihar2020Leads .headline{
	text-align: right;
	font: 400 56px/56px Cormorant;
}

.clock {
	border-radius: 100%;
	background: #EEE;
	font-family: "Montserrat";
	border: 15px solid #FF6E6E;
	box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 1000;
	right: 20px;
	transform: scale(0.3);
	top: 72px;
	transform-origin: right;
}

.wrap {
	overflow: hidden;
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 100%;
}

.minute,.hour {
	position: absolute;
	height: 100px;
	width: 6px;
	margin: auto;
	top: -27%;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	transform-origin: bottom center;
	transform: rotate(0deg);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	z-index: 1;
	transition: all 250ms ease;
}

.minute {
	position: absolute;
	height: 130px;
	width: 4px;
	top: -38%;
	left: 0;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	transform: rotate(0deg);
	
}
.noAni .minute{
	transition: all 0ms ease;
}
.second {
	position: absolute;
	height: 90px;
	width: 5px;
	margin: auto;
	top: -26%;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 4px;
	background: #FF4B3E;
	transform-origin: bottom center;
	transform: rotate(180deg);
	z-index: 1;
}

.dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 12px;
	border-radius: 100px;
	background: #000;
	border: 2px solid #1b1b1b;
	border-radius: 100px;
	margin: auto;
	z-index: 1;
}
.bihar2020Leads .logo.logoBihar{
	height: 69px;
}
.statContainer{
    position: absolute;
    top: 213px;
    left: 0;
    width: 419px;
    height: 98px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    border: 1px solid #5A5A5A77;
}
.bihar2020Trendline .statContainer{
	top: 260px;
}
/* .stateName{
    left: 0;
}
.statContainer{
    left: 0;
} */
.statContainer>div{
    flex-grow: 1;
    padding: 7px 0;
}
.statContainer>div:nth-child(2){
    border-left: 1px solid #5A5A5A77;;
    border-right: 1px solid #5A5A5A77;;
}
.nameLabel{
    height: 19px;
    display: block;
    text-align: center;
    font: 600 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.data{
    height: 34px;
    text-align: center;
    margin: 0;
    font: 700 28px/34px Montserrat;
    letter-spacing: -0.28px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 8px;
}
.statContainer.canvasWith{
    width: 357px;
    height: 94px;
    left: 50px;
    top: 335px;
}

.stateName.left{
    left: 0;
    top: 305px;
}
.statContainer.left{
    left: 0;
    top: 342px;
}
p.dataLine{
    width: 80%;
    height: 5px;
    margin-top: 2px;
    border-radius: 2px;
    margin: 5px auto 0;
}
p.dataLine.blue{
    background-color: #FF9800;
}
p.dataLine.red{
    background-color: #31B900;
}
.legendDataBlock .nameLabel{
    height: 22px;
    text-align: center;
    font: 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0;
}
.legendVertical{
    position: absolute;
    bottom: 316px;
    right: 0px;
    width: max-content;
    height: 62px;
    transform: translate(37%,-100%) rotate(-90deg);
    text-align: center;
    font: 500 18px/22px Montserrat;
    letter-spacing: 1.8px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.canvasLabels{
    z-index: 1;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 436px;
    left: 20px;
    z-index: 101;
}
.bihar2020Trendline .headline{
	font: 400 44px/40px Cormorant;
}
.stateName {
    position: absolute;
    top: 364px;
    left: 381px;
    width: 420px;
    height: 30px;
    text-align: center;
    font: 700 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    text-transform: uppercase;
    opacity: 1;
}
.bihar2020Trendline .stateName{
	top: 225px;
	left: 0;
}
.liner{
    width: 100%;
    padding: 0 25px;
    font: 600 15px/19px Montserrat;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #5a5a5a;
}
.liner.trenline-indi-world{
	position: absolute;
    bottom: 109px;
    width: 81%;
	padding: 0;
}
.bihar2020Trendline .liner.trenline-indi-world{
	left: 34px;
    bottom: 100px;
    width: 78%;
}
.statContainer, .stateName{
	width: 475px;
}
.legend2{
    display: flex;
	margin-top: 10px;
	justify-content: center;
}
.legend2 div{
    width: auto;
    height: 24px;
    text-align: center;
    font: 500 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #5A5A5A;
    opacity: 1;
    position: static;
}
.eachParty.barHor{
	position: absolute;
	left: 50%;
}
.eachParty.barHor .dataFix{
	background: transparent;
	position: relative;
}
.eachParty.barHor .logoParty{
	opacity: 0;
}
.eachParty.barHor .dataFix::after{
	content: '';
	position: absolute;
	top: 0;
	width: 1000px;
	height: 1px;
	background: #9997;
}
.eachParty.barHor .dataFix::before{
	content: 'Seats to win: 122';
    position: absolute;
    top: -22px;
    width: 145px;
    height: 1px;
    font: 500 18px/22px Montserrat;
    color: #5A5A5A;
    right: -265px;
}